// main.scss

body {
    display: flex;
    background-color: #2a3240;
}
main {
    background-color: #f6f6f6;
    align-self: center;
    margin-left: 7rem;
    padding: 2rem 1rem 2rem 1rem;

    width: 60vw;
    height: 85vh;

    border-radius: 40px;
}

h2 {
    text-align: center;
    font-size: 3rem;
    color: #00a6ab;
    margin: 1vh 0 5vh;
}

h3 {
    font-weight: bold;
}

.cuentaSelect {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 15vh;

    h3 {
        font-weight: bold;
        font-size: 2rem;
        margin: 1rem 0 1rem;
    }

    select {
        width: 80%;
        font-size: 2rem;
        border: 2px solid #00a6ab;
    }
}

.facturas {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15vh;

    h3 {
        margin-bottom: 1.2rem;
        font-size: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        label {
            margin: 0.2rem;
            font-size: large;
            span {
                font-weight: bold;
            }
        }
    }
}

.facturasDetails {
    background-color: lightgray;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 8rem;

    h4 {
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    span {
        display: block;
        margin: 0.5rem;
    }

    .deleteButton {
        color: red;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    .totalSuma {
        display: flex;
        flex-direction: row;
        span {
            margin-left: 0.5rem;
        }
    }

    .selectedAccountDetail {
        margin: 0.5rem;
        display: flex;
        span {
            margin-left: 0.5rem;
        }
    }

    .pagarButton {
        margin-top: 1rem;
        background: #3498db;
        color: white;
        border-radius: 22px;
        padding: 0.5rem 35% 0.5rem 35%;
        text-decoration: none;
    }
}

.successMessage {
    color: green;
}
.hidden {
    display: none;
}
.errorMessage {
    color: red;
}
