@charset "UTF-8";
:root {
  --main-background-color: #2a3240;
  --main-white: #f6f6f6;
  --main-lightblue: #00a6ab;
  --menu-lightgray: #ededed;
 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham", sans-serif;
}

body {
  display: flex;
  background-color: var(--main-background-color);
}

.login-body header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background: var(--main-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

main {
  position: relative;
  margin: auto auto;
  background-color: var(--main-white);
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  border-radius: 15px;
  border: 4px solid var(--footer-gray);
}

h1 {
  text-align: center;
  font-size: 2.7rem;
  color: #00a6ab;
  align-self: center;
}

h2 {
  text-align: center;
  font-size: 2.7rem;
  color: #00a6ab;
  margin-bottom: 1rem;
}

h3 {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}
.image-logo {
  margin-left: 5px;
  margin-top: 5px;
 
  
}
.nav-bar a {
  position: relative;
  font-size: 1.1em;
  color:#f6f6f6;
  text-decoration: none;
  font-weight: 500;
  margin-right: 40px;
  padding-top:  5px;

}
.nav-bar a::after {
  content: '';
  position:absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.nav-bar a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-bar .btn-register { 
  width: 140px;
  height: 50px;
  color: #f6f6f6;
  background: transparent;
  border: 2px solid   #00A6AB;
  border-color: #00a6ab;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 500;
  margin-right:40px ;
  transition: .5s
}
.nav-bar .btn-register:hover { 
  background: #fff;
  color: #0a989f;

}

.hidden {
  display: none;
}

/* Sidebar */
.sidebar {
  height: 95vh;
  margin-top: 2.5vh;
  width: 16rem;
  border-radius: 0px 40px 40px 0px;
  background-color: var(--main-white);
  border: 3px solid var(--footer-gray);
  /* wrapper para ubicar mejor el contenido dentro del sidebar */
}
.sidebar img {
  width: 5rem;
  background-color: gray;
  border-radius: 50%;
}
.sidebar .currentPage {
  padding: 10px;
  background-color: var(--footer-gray);
  pointer-events: none;
}
.sidebar .wrapper {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar .wrapper header {
  display: flex;
  margin: 1.5rem 0 1.5rem;
  justify-content: center;
}
.sidebar .wrapper header h1 {
  color: #00a6ab;
  font-weight: bold;
  margin-right: 0.5rem;
}
.sidebar .wrapper nav {
  position: relative;
  top: -3rem;
}
.sidebar .wrapper nav ul li {
  list-style: none;
  margin: 2rem 0 2rem 0;
  text-align: center;
}
.sidebar .wrapper nav ul li a {
  display: block;
  transition: 500ms;
  /*Esto marca la página actual*/
}
.sidebar .wrapper nav ul li:hover {
  transition: 500ms;
  transform: translateY(0px);
  padding: 10px;
  background-color: var(--menu-lightgray);
  font-weight: 600;
}

footer {
  /*Se empieza a romper a los 434px*/
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0 1.5rem 0;
  background-color: var(--footer-gray);
  border-radius: 0px 0px 40px 0px;
}

/* Cuentas */
.cuentasMain {
  position: relative;
  margin: auto auto;
  background-color: var(--main-background-color);
  border: none;
}
.cuentasMain .caja-ahorro {
  background-color: var(--main-white);
  border-radius: 20px;
  border: 3px solid var(--footer-gray);
  margin: 2rem 0 2rem;
  padding: 3rem;
  display: flex;
  align-content: center;
  flex-direction: column;
}
.cuentasMain .caja-ahorro h2 {
  margin-bottom: 1rem;
}
.cuentasMain .caja-ahorro img {
  width: 1.6rem;
  cursor: pointer;
}
.cuentasMain .caja-ahorro button {
  cursor: pointer;
  margin: 1rem;
  height: 2rem;
  border: 2px solid var(--main-lightblue);
  border-radius: 15px;
}
.cuentasMain .caja-ahorro button:hover {
  background-color: var(--footer-gray);
  font-weight: 600;
}
.cuentasMain .caja-ahorro button:active {
  font-weight: 100;
  background-color: var(--menu-lightgray);
}
.cuentasMain .caja-ahorro #transferir {
  margin-top: 2rem;
}

/* Transferencias */
.transferenciasMain {
  background-color: var(--main-white);
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  border-radius: 15px;
}
.transferenciasMain form {
  display: flex;
  flex-flow: column nowrap;
}
.transferenciasMain form label {
  margin: 2rem 0 0.2rem;
  font-weight: bold;
  text-align: center;
}
.transferenciasMain form select {
  width: 30vw;
  height: 2rem;
  border: var(--main-lightblue) 2px solid;
  border-radius: 10px;
}
.transferenciasMain form input {
  width: 30vw;
  height: 2rem;
  border: var(--main-lightblue) 2px solid;
}
.transferenciasMain form button {
  margin: 2rem auto -0.5rem;
  height: 2rem;
  width: 8rem;
}

/* Pagos */
.pagosMain .cuentaSelect {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1rem;
}
.pagosMain .cuentaSelect select {
  font-size: 1.2rem;
  text-align: center;
}
.pagosMain .facturasWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.pagosMain .facturasWrapper .facturasResume,
.pagosMain .facturasWrapper .facturasDetails {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 2rem;
  margin: 1rem;
}
.pagosMain .facturasWrapper .facturasDetails {
  align-items: center;
  text-align: center;
  background-color: var(--footer-gray);
  border-radius: 20px;
}
.pagosMain .facturasWrapper .facturasDetails span {
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.pagosMain .facturasWrapper .facturasDetails span:hover {
  text-decoration: underline;
}
.pagosMain .facturasWrapper dt {
  font-weight: bold;
}
.pagosMain .facturasWrapper .facturasPrice {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem;
}
.pagosMain .facturasWrapper .facturasPrice dd {
  margin-left: 1rem;
}
.pagosMain .totalSuma,
.pagosMain .cuentaDetail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagosMain .totalSuma span,
.pagosMain .cuentaDetail span {
  margin-left: 1rem;
  font-size: 1.5rem;
}
.pagosMain .pagarButton {
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem;
  text-align: center;
}
.pagosMain .pagarButton .errorMessage {
  color: red;
}
.pagosMain .pagarButton .successMessage {
  color: green;
}
.pagosMain .pagarButton button {
  height: 2rem;
  border-radius: 10px;
  border: 2px solid var(--main-lightblue);
  cursor: pointer;
}
.pagosMain .pagarButton button:active {
  background-color: var(--footer-gray);
  font-size: 80%;
}

/* Prestamos */
.prestamosBody .cuentaSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15vh;
}
.prestamosBody .cuentaSelect h3 {
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem 0 1rem;
}
.prestamosBody .cuentaSelect select {
  width: 80%;
  font-size: 2rem;
  border: 3px solid #00a6ab;
  border-radius: 10px;
}

/* body */
.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2a3240;
  background-size: cover;
  background-position: center;
  padding: 55px;
 
}
/* login screen */
.login-main { 
 margin: 0;
 padding: 40px;
 padding-top: 140px;
 padding-bottom: 140px;
}
.login-main .nombre-del-banco {
  width: 1100px;
  height: 800px;
  background: url();
}
.login-main .nombre-del-banco .Color1 {
  color: #ffffff;
  text-align: left;
}
.login-main .nombre-del-banco .Color2 {
  color: #00A6AB;
}
.login-main .formulario {
  width: 480px;
  height: 410px;
  background: transparent;
  border: 2px solid;
  border-color: #0a989f;
  backdrop-filter: blur(28px);
  box-shadow: 0 0 10px;
  color: #00A6AB;
  border-radius: 15px;
  padding: 25px 35px;
  position: relative;


}
.login-main .formulario h1 {
  margin-top: 5px;
  font-size: 36px;
  text-align: center;
}
.login-main .formulario .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.login-main .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 40px;
  outline: none;
  border-color: #00A6AB;
  font-size: 16px;
  color: #2a3240;
  padding: 28px;
}
.login-main .input-box input::-moz-placeholder {
  color: #2a3240;
  text-align: center;
}
.login-main .input-box input::placeholder {
  color: #2a3240;
  text-align: center;
}
.login-main .input-box img {
  position: absolute;
  right: 15px;
  top: 34%;
}
.login-main .formulario .forgot-password {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -15px 0 15px;
  margin-top: 2px;
}
.login-main .forgot-password label input {
  accent-color: #fff;
  margin-right: 5px;
}
.login-main .forgot-password a {
  color: #2a3240;
  text-decoration: none;
}
.login-main .forgot-password a:hover {
  text-decoration: underline;
}
.login-main .formulario .boton {
  width: 100%;
  height: 50px;
  background: #00A6AB;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 5px rgb(138, 138, 138);
  cursor: pointer;
  font-size: 16px;
  color: #2a3240;
  font-weight: 600;
  margin-top: 5px;

}
.login-main .formulario .link-registro {
  font-size: 14px;
  margin: 12px 0 12px;
  text-align: center;
}
.login-main .link-registro p a {
  color: #2a3240;
  text-decoration: none;
  font-weight: 600;
}
.login-main .link-registro p a:hover {
  text-decoration: underline;
}
.image-container { 
  text-align: center;
}
.image {
  width: 75vw;
  max-width: 90%;
  height: 680px;
  object-fit: cover;
  padding-right: 30px;
  

  


 

  
  
}
/*Registro*/

.register-main {
  align-items: center;
  width: 800px;
  height: 800px;
  margin-top: 85px;
}
.register-main h1 { 
 margin: center;
 padding-bottom: 20px;
}

.register-main .register-form .register-input-box { 
  width: 440px;
  height: 20px;
  background: transparent;
  border-radius: 50px;
  outline: none;
  border-color: #00A6AB;
  font-size: 16px;
  color: #2a3240;
  padding: 25px;
  margin: 15px;
}

.register-main .register-input-box input::-ms-input-placeholder {
  color: #2a3240;
  text-align: center;

}
.register-form .register-input-box input::placeholder {
  color: #2a3240;
  text-align: center;
}
.register-form .genero { 
  width: 250px;
  height: 40px;
  border-radius: 50px;
  border: 2px solid #00A6AB;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
  color: #2a3240;
}
.register-form .register-button {
  width: 220px;
  height: 50px;
  background: #03cdd4;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 5px rgb(138, 138, 138);
  cursor: pointer;
  font-size: 16px;
  color: #2a3240;
  font-weight: 600;
  margin-top: 25px;
  margin-left: 110px;
}
.register-form .register-term { 

  accent-color: #fff;
  margin-left: 25px;
  padding-top: 20px;
  color: #2a3240;
  font-size: 14px;
}

/* Para alinear el label y el checkbox*/

.register-form .register-term .label-term 
{
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
.register-form .register-term .checkbox
{
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  overflow: hidden;
}