:root {
  --main-background-color: #2a3240;
  --main-white: #f6f6f6;
  --main-lightblue: #00a6ab;

  --menu-lightgray: #ededed;
  --footer-gray: #dbdbdb;
}

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham", sans-serif;
}

body {
  display: flex;
  background-color: var(--main-background-color);
}

//global format for all main sections
main {
  position: relative;
  margin: auto auto;
  background-color: var(--main-white);
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  border-radius: 15px;
  border: 4px solid var(--footer-gray);
}

h1 {
  text-align: center;
  font-size: 2.7rem;
  color: #00a6ab;
  align-self: center;
}

h2 {
  text-align: center;
  font-size: 2.7rem;
  color: #00a6ab;
  margin-bottom: 1rem;
}

h3 {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}

/* Sidebar */

.sidebar {
  height: 95vh;
  margin-top: 2.5vh;
  width: 16rem;
  border-radius: 0px 40px 40px 0px;
  background-color: var(--main-white);
  border: 3px solid var(--footer-gray);

  img {
    width: 5rem;
    background-color: gray;
    border-radius: 50%;
  }

  .currentPage {
    padding: 10px;
    background-color: var(--footer-gray);
    pointer-events: none;
  }

  /* wrapper para ubicar mejor el contenido dentro del sidebar */
  .wrapper {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header {
      display: flex;
      margin: 1.5rem 0 1.5rem;
      justify-content: center;
      h1 {
        color: #00a6ab;
        font-weight: bold;
        margin-right: 0.5rem;
      }
    }

    nav {
      position: relative;
      top: -3rem;

      ul li {
        list-style: none;
        margin: 2rem 0 2rem 0;
        text-align: center;

        a {
          display: block;
          transition: 500ms;
          /*Esto marca la página actual*/
        }
        &:hover {
          transition: 500ms;
          transform: translateY(-0px);
          padding: 10px;

          background-color: var(--menu-lightgray);
          font-weight: 600;
        }
      }
    }
  }
}

footer {
  /*Se empieza a romper a los 434px*/
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0 1.5rem 0;
  background-color: var(--footer-gray);
  border-radius: 0px 0px 40px 0px;
}

/* Cuentas */
.cuentasMain {
  position: relative;
  margin: auto auto;
  background-color: var(--main-background-color);
  border: none;

  .caja-ahorro {
    background-color: var(--main-white);
    border-radius: 20px;
    border: 3px solid var(--footer-gray);

    margin: 2rem 0 2rem;
    padding: 3rem;

    display: flex;
    align-content: center;
    flex-direction: column;

    h2 {
      margin-bottom: 1rem;
    }

    img {
      width: 1.6rem;
      cursor: pointer;
    }

    button {
      cursor: pointer;
      margin: 1rem;

      height: 2rem;
      border: 2px solid var(--main-lightblue);
      border-radius: 15px;

      &:hover {
        background-color: var(--footer-gray);
        font-weight: 600;
      }

      &:active {
        font-weight: 100;
        background-color: var(--menu-lightgray);
      }
    }
    #transferir {
      margin-top: 2rem;
    }
  }
}

/* Transferencias */
.transferenciasMain {
  background-color: var(--main-white);
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  border-radius: 15px;

  form {
    display: flex;
    flex-flow: column nowrap;

    label {
      margin: 2rem 0 0.2rem;
      font-weight: bold;
      text-align: center;
    }

    select {
      width: 30vw;
      height: 2rem;
      border: var(--main-lightblue) 2px solid;
      border-radius: 10px;
    }

    input {
      width: 30vw;
      height: 2rem;
      border: var(--main-lightblue) 2px solid;
    }

    button {
      margin: 2rem auto -0.5rem;
      height: 2rem;
      width: 8rem;
    }
  }
}

/* Pagos */
.pagosMain {
  .cuentaSelect {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1rem;
    select {
      font-size: 1.2rem;
      text-align: center;
    }
  }

  .facturasWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .facturasResume,
    .facturasDetails {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding: 2rem;
      margin: 1rem;
    }

    .facturasDetails {
      align-items: center;
      text-align: center;
      background-color: var(--footer-gray);
      border-radius: 20px;

      span {
        color: red;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    dt {
      font-weight: bold;
    }

    .facturasPrice {
      display: flex;
      justify-content: center;
      margin: 1rem 0 1rem;
      dd {
        margin-left: 1rem;
      }
    }
  }

  .totalSuma,
  .cuentaDetail {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      margin-left: 1rem;
      font-size: 1.5rem;
    }
  }

  .pagarButton {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem;
    text-align: center;

    .errorMessage {
      color: red;
    }
    .successMessage {
      color: green;
    }

    button {
      height: 2rem;
      border-radius: 10px;
      border: 2px solid var(--main-lightblue);
      cursor: pointer;
      &:active {
        background-color: var(--footer-gray);
        font-size: 80%;
      }
    }
  }
}
/* Prestamos */
.prestamosBody {
  .cuentaSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15vh;
  }
  .cuentaSelect h3 {
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 0 1rem;
  }
  .cuentaSelect select {
    width: 80%;
    font-size: 2rem;
    border: 3px solid #00a6ab;
    border-radius: 10px;
  }
}

/* body */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2a3240;
    background: url("../assets/icons/Augusto.png");
    background-size: cover;
    background-position:center ;
}

/* login screen */
.login-main {

.nombre-del-banco { 
    width: 1100px;
    height: 800px;
    background: url();
}
.nombre-del-banco .Color1 { 
    color: #ffffff;
    text-align: left;
}
.nombre-del-banco .Color2 { 
    color: #00A6AB;

}


.formulario {
    width: 480px;
    height: 400px;
    background: transparent;
    border: 2px solid;
    border-color: #0a989f;
    backdrop-filter: blur(28px);
    box-shadow: 0 0 10px;
    color: #00A6AB;
    border-radius: 15px;
    padding: 35px 45px;
    margin: center;
    
}
.formulario h1 {
    margin-top: 5px;
    font-size: 36px;
    text-align: center;
}

.formulario .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
   
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 40px;
    outline:none;
    border-color: #00A6AB;
    font-size: 16px;
    color: #2a3240;
    padding: 28px;

}

.input-box input::placeholder {
    color: #2a3240;
    text-align: center;
}

.input-box img {
    position: absolute;
    right: 15px;
    top: 34%;
   
}

.formulario .forgot-password {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
    margin-top: 2px;

}
.forgot-password label input {
    accent-color: #fff;
    margin-right: 5px;
}

.forgot-password a {
    color: #2a3240;
    text-decoration: none;
}

.forgot-password a:hover {
    
    text-decoration: underline;
}

.formulario .boton { 
    width: 100%;
    height: 50px;
    background: #00A6AB;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: #2a3240;
    font-weight: 600;
    margin-top: 5px;
    
}

.formulario .link-registro { 
    font-size: 14px;
    margin: 12px 0 12px;
    text-align: center;
   
}

.link-registro p a {
    color: #2a3240;
    text-decoration: none;
    font-weight: 600;
}

.link-registro p a:hover {
    text-decoration: underline;
}
}
